.body{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 2rem;
}

.comingSoon {
    font-size: 2rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    margin-left: 2rem;
}

/* RESPONSIVE */

@media screen and (max-width: 480px){
    .main{
        flex-direction: column;
    }
}