:root {
    --font-color: rgb(20,20,20);
    --background-color: white;
    --link-color: rgb(20,20,20);
}

[data-theme="dark"] {
    --font-color: white;
    --background-color: rgb(20,20,20);
    --link-color: white;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}

a {
    color: var(--link-color);
}

/* Custom Dark Mode Toggle Element */
.toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.toggle-theme-wrapper span {
    font-size: 20px;
}

.toggle-theme {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 60px;
}

.toggle-theme input {
    display: none;
}

.slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0.30rem;
    left:4px;
    right:4px;
    top: 0.30rem;
    -webkit-transition: .5s;
    transition: 0.5s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: skyblue;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px skyblue;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 50px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
