/*Header customization*/

.header{
    margin-top: 2rem;
    margin-left: 6rem;
}

.headerTitle{
    display: flex;
    flex-direction: column;
}

.headerTitleHello{
    font-size: 2.5rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
}

/*Photo Icon customization*/

.photoIcon{
    margin-top: 1rem;
}