.top{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 1rem;
    padding-top: 0rem;
}

.bar {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

/*TOP LEFT TOPBAR SOCIAL ICONS*/

.topLeft{
    flex: 3;
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    align-items: center;
    justify-content: flex-start;
}

.topIcons{
    display: flex;
    text-decoration: none; /*get rid of icon highlight.*/
    cursor: pointer; /*The cursor will change to pointer, for aesthetics only*/
    align-items: center;
    font-size: 1.3rem;
    margin-right: 1rem;
}



/*TOP CENTER HEADER*/

.topCenter{
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}


.topListItem{
    justify-content: center;
    margin: 1.5rem;
    font-size: 1rem;
    list-style: none;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
}

/*TOP RIGHT HEADER FUNCTIONALITY*/

.topRight{
    flex: 3;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: flex-end;
}

.lightModeIcon {
    align-items: center;
    margin-right: .5rem;
    margin-left: 1rem;
    font-size: 1.3rem;
}

.darkModeIcon{
    align-items: center;
    margin-right: 1rem;
    margin-left: .5rem;
    font-size: 1.3rem;
}


.button{
    text-decoration: none;
}

/* RESPONSIVE */

@media screen and (max-width: 480px){
    .bar{
        flex-direction: column;
    }
}