.top{
    background-color: rgb(20, 20, 20);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 1rem;
    padding-top: 0rem;
}

.bar {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

/*TOP LEFT HEADER*/

.topLeft{
    flex: 3;
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
    justify-content: flex-start;
}

.topIcons{
    display: flex;
    text-decoration: none; /* get rid of icon highlight*/
    font-size: 1.3rem;
    margin: 0.5rem;
    color: white;
    cursor: pointer; /*The cursor will change to pointer, for aesthetics only*/
}

/*TOP CENTER HEADER*/

.topCenter{
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
}


.topListItem{
    justify-content: center;
    margin: 1.5rem;
    font-size: 1rem;
    list-style: none;
    cursor: pointer;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

/*TOP RIGHT HEADER FUNCTIONALITY*/

.topRight{
    flex: 3;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: flex-end;
}

.darkModeIcon{
    align-items: center;
    margin-right: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}


.button{
    color: white;
    text-decoration: none;
}

/* RESPONSIVE */

@media screen and (max-width: 480px){
    .bar{
        flex-direction: column;
    }
}