.top{
    width: 100%;
    height: 200px;
    background-color: rgb(20, 20, 20);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
}

/*TOP RIGHT AND LEFT HEADER*/

.topLeft, .topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.topIcons{
    display: flex;
    font-size: 1.3rem;
    margin: 0.5rem;
    color: white;
    cursor: pointer; /*The cursor will change to pointer, for aesthetics only*/
}

/*TOP CENTER HEADER*/

.topCenter{
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}


.topListItem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-size: 1rem;
    list-style: none;
    font-weight: 400;
    cursor: pointer;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

/*TOP RIGHT HEADER FUNCTIONALITY*/

.darkModeIcon{
    align-items: center;
    justify-content: center;
    margin-left: 0rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}


.button{
    color: white;
}

@media screen and (max-width: 480px){
    .top{
        flex-direction: column;
    }
}