/*Flexibility to work the whole body in Home Page.
This is where the introduction goes. */

/* Main Container */

.aboutMeWrapper {
    display: flex;
    position: relative;
    justify-content: center;
}

.aboutMeHeaderContainer {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
}

/*About Me - CONTAINER*/
.aboutMeContainer {
    display: block;
    padding: .5rem;
}

/*H1*/
.aboutMe{
    font-family: 'Oxygen', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: skyblue;
    text-align: center;
}

/*PARAGRAPH CONTAINER*/

.bodyParagraph {
    display: block;
    padding: .5rem;
}

.paragraph {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.paragraph2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 2.5;
}

/*Personal Goals Title and its contents.*/
.skillsContainer {
    display: block;
}

.skills {
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Oxygen', sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: skyblue;
    text-align: center;
}

/* ICON CONTAINER */

.iconsContainer {
    display: block;
    padding: 1rem;
    text-align: center;
    align-items: center;
    max-width: 1000px;
    font-size: 2.5rem;
    color: aquamarine;
}

.fa-brands {
    margin-left: .5rem;
    margin-right: .5rem;
}

.sub {
    font-family: 'Montserrat', sans-serif;
}


/*E Mail Section*/



/* RESPONSIVE */

@media screen and (max-width: 480px){
    .main{
        flex-direction: column;
    }
}