/*Flexibility to work the whole body in Home Page.
This is where the introduction goes. */

.home{
    display: flex;
    background-color: rgb(20, 20, 20);
    box-sizing: border-box;
    justify-content: center;
}

/* Main Container */

.main {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}


/*First paragraph introduction goes here and everything else.
This is the beginning of Home - BODY PARAGRAPH*/
.intro{
    flex-direction: column;
}

.introTitle{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 2rem;
    margin-bottom: 1rem;
    color: rgb(125, 190, 210);
}

.introParagraph{
    font-family: 'Montserrat', sans-serif;
    font-size: .80rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: white;
    line-height: 2em;
}

.introParagraphTwo{
    font-family: 'Montserrat', sans-serif;
    font-size: .80rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: white;
    line-height: 2em;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.introParagraphThree{
    font-family: 'Montserrat', sans-serif;
    font-size: .80rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: white;
    line-height: 2em;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/*Personal Goals Title and its contents.*/
.personalGoalsTitle{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    color: rgb(125, 190, 210);
}

.personalContact{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    color: rgb(125, 190, 210);
}

/*E Mail Section*/

.eMailIcon{
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin: 1rem;
    margin-left: 6rem;
}

.eMail{
    justify-content: center;
    align-items: center;
    color: navajowhite;
    font-family: 'Varela', sans-serif;
    font-size: .80rem;
}

/* RESPONSIVE */

@media screen and (max-width: 480px){
    .main{
        flex-direction: column;
    }
}