/*Flexibility to work the whole body in Home Page.
This is where the introduction goes. */

.home{
    flex-direction: column;
    display: flexbox;
    margin: 4rem;
    background-color: rgb(20, 20, 20);
}


/*First paragraph introduction goes here and everything else.
This is the beginning of Home - BODY PARAGRAPH*/
.intro{
    display: flexbox;
}

.introTitle{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 6rem;
    margin-left: 6rem;
    margin-bottom: 1rem;
    color: rgb(125, 190, 210);
}

.introParagraph{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-left: 6rem;
    margin-right: 6rem;
    color: white;
    line-height: 2em;
}

.introParagraphTwo{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-left: 6rem;
    margin-right: 6rem;
    color: white;
    line-height: 2em;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.introParagraphThree{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-left: 6rem;
    margin-right: 6rem;
    color: white;
    line-height: 2em;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/*Personal Goals Title and its contents.*/
.personalGoalsTitle{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-left: 6rem;
    margin-bottom: 1rem;
    color: rgb(125, 190, 210);
}

.personalContact{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-left: 6rem;
    margin-bottom: 1rem;
    color: rgb(125, 190, 210);
}

/*E Mail Section*/

.eMailIcon{
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin: 1rem;
    margin-left: 6rem;
}

.eMail{
    justify-content: center;
    align-items: center;
    color: burlywood;
    font-family: 'Varela', sans-serif;
}