.mainContainer {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 6rem;
}

.items {
    justify-content: center;
    text-align: center;
}

.subTitle {
    font-size: 1.5rem;
    font-family: "Montserrat";
}

.title {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
}