.mainContactContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.contactContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 6rem;
    justify-content: center;
}

.subTitle {
    font-size: 1.2rem;
    font-family: "Montserrat";
}

.title {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
}

/* RESPONSIVE */

@media screen and (max-width: 480px){
    .bar{
        flex-direction: column;
    }
}