/*Header customization*/

.header{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center; /* IMPORTANT */
}

/* MAIN CONTAINER */

.main {
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.hello{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
}

.bio {
    text-align: center;
}

.developer {
    font-size: 1.2rem;
    font-family: 'Oxygen';
}

/*Photo Icon customization*/

.avatar{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}


/* RESPONSIVE */

@media screen and (max-width: 480px){
    .main{
        flex-direction: column;
    }
}