/*Header customization*/

.header{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center; /* IMPORTANT */
}

/* MAIN HEADER */

.main-container {
    display: block;
    margin-top: 1rem;
    max-width: 1000px;
}

/*Introduction*/

.hi {
    font-family: 'Lato';
    text-align: start;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 1rem;
    color: lightslategray;
}

.name {
    text-align: start;
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    margin: 1rem;
    margin-bottom: 1rem;
}

.developer {
    display: flex;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    margin: 1rem;
    font-weight: 300;
}

/*Photo Icon customization*/

.avatar{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}


/* RESPONSIVE */

@media screen and (max-width: 480px){
    .main{
        flex-direction: column;
    }
}