/*Header customization*/

.header{
    margin-top: 4rem;
    margin-left: 10rem;
    background-color: rgb(20, 20, 20);
}

.headerTitle{
    display: flex;
    flex-direction: column;
}

.headerTitleHello{
    font-size: 2.5rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    color: white;
}

/*Photo Icon customization*/

.photoIcon{
    margin-top: 1rem;
}