.top {
    margin-top: 2rem;
    position: relative; /* or STATIC */
    display: flex;
    bottom: 0;
    justify-content: center;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    flex-direction: column;
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-size: 1rem;

}

.copyright {
    display: flex;
    margin-bottom: 2rem;
}

.react {
    display: flex;
    justify-content: flex-start;
    margin-left: .3rem;
}

.powered {
    margin-left: .3rem;
    display: flex;
    justify-content:flex-start;
}

/* RESPONSIVE */

@media screen and (max-width: 480px){
    .main{
        flex-direction: column;
    }
}