.top {
    margin-top: 2rem;
    position: relative; /* or STATIC */
    display: flex;
    bottom: 0;
    justify-content: center;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.wrapper {
    font-family: "Lato";
    justify-content: center;
    align-items: center;

}

.footerName {
    font-size: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;

}

.footerSeparator {
    margin-right: .5rem;
}

.powered {
    font-size: 1rem;
    font-family: "Lato";
    margin-right: .5rem;
}

/* RESPONSIVE */

@media screen and (max-width: 480px){
    .main{
        flex-direction: column;
    }
}