.footer {
    margin-top: 0rem;
    position: relative; /* or STATIC */
    display: flex;
    bottom: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-bottom: .5rem;
    margin-left: 0rem;
    flex-direction: column;
    justify-content: center;
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    font-size: .8rem;

}

.copyright {
    display: flex;
    justify-content:center;
    margin-bottom: 2rem;
}

.react {
    display: flex;
    justify-content: flex-start;
    margin-left: .3rem;
}

.powered {
    margin-left: .3rem;
    display: flex;
    justify-content:flex-start;
}

/* RESPONSIVE */

@media screen and (max-width: 480px){
    .main{
        flex-direction: column;
    }
}